# Project exclude paths
/cloud-api-commons/target/
/cloud-config-center-3344/target/
/cloud-config-client-3355/target/
/cloud-config-client-3366/target/
/cloud-consumer-feign-hystrix-order80/target/
/cloud-consumer-feign-order80/target/
/cloud-consumer-order80/target/
/cloud-eureka-server7001/target/
/cloud-eureka-server7002/target/
/cloud-gateway-gateway9527/target/
/cloud-provider-hystrix-payment8001/target/
/cloud-provider-payment8001/target/
/cloud-provider-payment8002/target/
/cloud-stream-rabbitmq-consumer8802/target/
/cloud-stream-rabbitmq-consumer8803/target/
/cloud-stream-rabbitmq-provider8801/target/
/cloudalibaba-config-nacos-client3377/target/
/cloudalibaba-consumer-nacos-order83/target/
/cloudalibaba-consumer-nacos-order84/target/
/cloudalibaba-provider-payment9001/target/
/cloudalibaba-provider-payment9002/target/
/cloudalibaba-provider-payment9003/target/
/cloudalibaba-provider-payment9004/target/
/cloudalibaba-sentinel-service8401/target/
/seata-account-service2003/target/
/seata-order-service2001/target/
/seata-storage-service2002/target/